.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border:none;
}

.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border:none;
}

.black-background {
  background-color: black;
  color: whitesmoke;
  height: 200px;
  padding: 20px 0 20px 0;
}

.bottom-border {
  border-bottom: white;
}